.formContainer {
  background-color: #a892ee;
  width: 50rem;
	max-width: 90%;
	margin: 0 auto;
	padding: 2rem 1.5rem;
	margin-top: 5rem;
}

input:focus{
  outline: none;
}

.wrapper{
  display: flex;
  width: 400px;
  margin-top: 30px;
  justify-content: flex-end;
  margin-left: 20px;
}

.tag{
  color:red
}


